<a href="https://colab.research.google.com/github/kasyap1234/machine-learning-/blob/main/diabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np 
import pandas as pd

In [2]:
diabetes_data=pd.read_csv("/content/diabetes.csv")

In [3]:
diabetes_data.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [5]:
diabetes_data.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [8]:
X=diabetes_data.drop(columns='Outcome',axis=1)

In [15]:
Y=diabetes_data['Outcome']

In [17]:
from sklearn.preprocessing import StandardScaler
scale=StandardScaler()
new_x=scale.fit_transform(X)

In [21]:
new_x=pd.DataFrame(new_x)

            0         1         2  ...         5         6         7
0    0.639947  0.848324  0.149641  ...  0.204013  0.468492  1.425995
1   -0.844885 -1.123396 -0.160546  ... -0.684422 -0.365061 -0.190672
2    1.233880  1.943724 -0.263941  ... -1.103255  0.604397 -0.105584
3   -0.844885 -0.998208 -0.160546  ... -0.494043 -0.920763 -1.041549
4   -1.141852  0.504055 -1.504687  ...  1.409746  5.484909 -0.020496
..        ...       ...       ...  ...       ...       ...       ...
763  1.827813 -0.622642  0.356432  ...  0.115169 -0.908682  2.532136
764 -0.547919  0.034598  0.046245  ...  0.610154 -0.398282 -0.531023
765  0.342981  0.003301  0.149641  ... -0.735190 -0.685193 -0.275760
766 -0.844885  0.159787 -0.470732  ... -0.240205 -0.371101  1.170732
767 -0.844885 -0.873019  0.046245  ... -0.202129 -0.473785 -0.871374

[768 rows x 8 columns]

In [26]:
from sklearn.model_selection import train_test_split 
X_train,X_test,Y_train,Y_test=train_test_split(new_x,Y,random_state=0)

In [27]:
from sklearn.linear_model import LogisticRegression
lreg=LogisticRegression()

In [28]:
lreg.fit(X_train,Y_train)

LogisticRegression()

In [32]:
from sklearn.metrics import accuracy_score
lreg.score(X_train,Y_train)

0.7638888888888888

In [39]:
input_data=[[6	,148,	72	,35	,0,	33.6,	0.627,	50]	]

In [40]:
Y_pred=lreg.predict(input_data)

In [41]:
Y_pred

array([1])

which is the right output .