<a href="https://colab.research.google.com/github/kasyap1234/machine-learning-/blob/main/linearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd 
import numpy as np 
import seaborn as sns

In [6]:
data=pd.read_csv("/content/sample_data/california_housing_train.csv")

loaded the data

In [8]:
data.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [10]:
house=data.drop(['longitude','latitude',],axis=1)

In [12]:
house.head(6)

   housing_median_age  total_rooms  ...  median_income  median_house_value
0                15.0       5612.0  ...         1.4936             66900.0
1                19.0       7650.0  ...         1.8200             80100.0
2                17.0        720.0  ...         1.6509             85700.0
3                14.0       1501.0  ...         3.1917             73400.0
4                20.0       1454.0  ...         1.9250             65500.0
5                29.0       1387.0  ...         3.3438             74000.0

[6 rows x 7 columns]

In [14]:
X=house[['housing_median_age','total_rooms','total_bedrooms','population','households','median_income']]
Y=house['median_house_value']

In [18]:
from sklearn.model_selection import train_test_split 
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.1,random_state=1)

In [20]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [21]:
y_pred=lr.predict(X_test)

In [23]:
from sklearn.metrics import r2_score
r2_score(Y_test,y_pred)

0.6133117004406483

**bold text**

---


---

In [25]:
lr.predict(X.head(1))

array([93832.10421739])